<style type="text/css">
  #map {
    height: 600px;
    width: 100%;
  }
</style>

<script>
function initMap() {
  const center = mapConfig || {
    zoom: 4,
    center: {
      lat: 1.3521,
      lng: 103.8198
    }
  };
  const map = new google.maps.Map(document.getElementById("map"), center);

  if (markersConfig) {
    for (let m in markersConfig) {
      if (markersConfig.hasOwnProperty(m)) {
        new google.maps.Marker({
          position: markersConfig[m].position,
          map: map,
          label: markersConfig[m].label
        });
      }
    };
  }

  if (pathConfig) {
    const pathCoordinates = [];
    const markers = {}, infoWindows = {};
    let lat = null, lng = null, markerLabel = null, markerIcon = null, infoWindowContent = null;

    for (let p = 0; p < pathConfig.length; p++) {
      lat = null, lng = null, markerLabel = null, infoWindowContent = null;
      if (pathConfig[p].hasOwnProperty('lat') && pathConfig[p].hasOwnProperty('lng')) {
        lat = pathConfig[p].lat;
        lng = pathConfig[p].lng;        
      } else if (pathConfig[p].length >= 2) {
        lat = pathConfig[p][0];
        lng = pathConfig[p][1];
      }

      if (lat && lng) {
        if (pathConfig[p].hasOwnProperty('marker')) {
          markerLabel = pathConfig[p].marker;
        } else if (pathConfig[p].length >= 3) {
          markerLabel = pathConfig[p][2];
        }

        pathCoordinates.push({ lat: lat, lng: lng });

        if (markerLabel) {
          if (isNaN(markerLabel)) {
            markerIcon = {
              url: 'https://img.icons8.com/material-sharp/24/marker.png',
              size: new google.maps.Size(24, 24),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(12, 24),
            };
          } else {
            markerIcon = {
              url: 'https://img.icons8.com/ios/50/' + markerLabel + '.png',
              size: new google.maps.Size(50, 50),
              scaledSize: new google.maps.Size(18, 18),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(9, 15),
            };
          }

          markers[p] = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            map: map,
            icon: markerIcon
          });

          if (pathConfig[p].hasOwnProperty('infoWindowContent')) {
            infoWindowContent = pathConfig[p].infoWindowContent;
          } else if (pathConfig[p].length >= 4) {
            infoWindowContent = pathConfig[p][3];
          }
          
          if (infoWindowContent) {
            infoWindows[p] = new google.maps.InfoWindow({
              content: infoWindowContent
            });

            markers[p].addListener("click", () => {
              infoWindows[p].open({
                anchor: markers[p],
                map,
              });
            });
          }
        }
      }
    }

    const path = new google.maps.Polyline({
      path: pathCoordinates,
      strokeColor: '#FF824A',
      strokeOpacity: 1.0,
      strokeWeight: 3,
    });

    path.setMap(map);
  }
}

window.initMap = initMap;
</script>

<div id="map"></div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeROYpqKybf3hpDDBrFoEjEJnAw_Pldg4&callback=initMap&v=weekly"
  defer></script>
